# Welcome to Digital Nest

# Introduction to Python

In [5]:
#Python scripts will be in two formats:
#.ipynb , .py

In [1]:
x=5
y="data science"

# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter

In [2]:
x

5

In [3]:
y

'data science'

In [4]:
x

5

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [5]:
course_name_as_of_today = "Data Science"

In [6]:
isthisareadablename=3
# to break cells in two : ctrl shift -

In [7]:
_or_this_is_more_readable_despite_being_longer=4

**Reserved Words:**


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [8]:
from=4

SyntaxError: invalid syntax (<ipython-input-8-4afdef3c6ee6>, line 1)


### variable types

In [9]:
print(x)
print(y)

5
data science

In [10]:
type(x)

int

In [11]:
type(y)

str

In [12]:
x="sachin"
x

'sachin'

Note: when assigning a string/char value to a variable it doesn't matter whether you use single quotes [''] or double quotes [""]

In [13]:
#Ctrl + Enter
#Shift + Enter
#Run Command
#Run this cell

In [14]:
x="5"
type(x)

str

In [15]:
x+2

TypeError: can only concatenate str (not "int") to str

In [16]:
int(x)+2

7

In [17]:
x + str(2)

'52'

In [18]:
x="abcd"
type(x)

str

In [19]:
int(x)

ValueError: invalid literal for int() with base 10: 'abcd'

In [20]:
x="42"
int(x)

42

In [1]:
x = 5
x = x * 5

In [2]:
x

25

In [3]:
x = 10
x*10

100

In [4]:
x

10

In [5]:
print(x)
type(x)

10

int

In [6]:
x=int(x)
type(x)

int

In [10]:
x = 5

In [11]:
type(x)

int

In [12]:
x = 45
type(x)

int

### Numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [13]:
x=1.22
y=20
x+y

21.22

In [14]:
x-y

-18.78

In [15]:
x*y

24.4

In [16]:
x/y

0.061

In [17]:
print(5%2) # Remainder
print(5//2) # Quotient

1
2

you can do multiple operations separated by comma

In [18]:
#XOR operation
13^4

9

In [19]:
x = 5
y = 5
x+2,y+3,x+y,x**(x+y)

(7, 8, 10, 9765625)

In [ ]:
# x^y : this is not same x**y

you need to use double asterisks for exponents as shown below

In [20]:
x=2
y=3
x**y

8

In [21]:
z=(x+y)**x - y/x
z

23.5

In [23]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

In [24]:
a,b,c,d

(4, 6, 5, 32)

In [25]:
a,b,c=2

TypeError: cannot unpack non-iterable int object

You should either do this :

In [26]:
a,b,c=2,2,2
a,b,c

(2, 2, 2)

Or this :

In [27]:
a,b,c=[2,2,2]
a,b,c

(2, 2, 2)

Or this:

In [28]:
a,b,c=[2]*3
a,b,c

(2, 2, 2)

In [29]:
a=b=c=5
a,b,c

(5, 5, 5)

In [30]:
x

2

In [31]:
import math
math.log(x)

0.6931471805599453

In [32]:
import math as m
m.sin(x)

0.9092974268256817

### Logical values and Operations

In [33]:
x=True
y=False

In [34]:
type(x)

bool

In [35]:
type(y)

bool

In [36]:
x and y

False

In [37]:
x & y

False

In [38]:
x or y

True

In [39]:
x | y

True

In [40]:
not x

False

In [41]:
!(x)

'x' is not recognized as an internal or external command,
operable program or batch file.

In [44]:
x = 5
y = 2

(x^y)+(y//2)-(x/y)

5.5

### String values and operations

In [45]:
x = 'Bombay'
y = "Banglore"
x,y

('Bombay', 'Banglore')

In [46]:
len("digitalnest")

11

In [47]:
len(x),len(y)

(6, 8)

In [48]:
x+y

'BombayBanglore'

In [49]:
x+" "+"yes"+y

'Bombay yesBanglore'

In [50]:
z=x+" to "+y
z

'Bombay to Banglore'

In [51]:
z.upper()

'BOMBAY TO BANGLORE'

In [52]:
z

'Bombay to Banglore'

In [53]:
z.lower()

'bombay to banglore'

In [54]:
z.capitalize()

'Bombay to banglore'

In [55]:
len(z)

18

In [56]:
z.rjust(23,"#")
# 20 is string length after padding with space

'#####Bombay to Banglore'

In [57]:
z.ljust(20,"*")

'Bombay to Banglore**'

In [58]:
z.center(22)

'  Bombay to Banglore  '

In [59]:
z

'Bombay to Banglore'

In [60]:
" vishesh" == "vishesh"

False

In [61]:
z="   "+z+"    "
z

'   Bombay to Banglore    '

In [62]:
z.lstrip()

'Bombay to Banglore    '

In [63]:
z.rstrip()

'   Bombay to Banglore'

In [64]:
z=z.strip()

In [65]:
z

'Bombay to Banglore'

In [66]:
print(z)
z.replace("B","T")

Bombay to Banglore

'Tombay to Tanglore'

In [67]:
z=z.replace(" ","")
z

'BombaytoBanglore'

In [68]:
z

'BombaytoBanglore'

In [69]:
z.replace("B" or "b","T")

'TombaytoTanglore'

In [70]:
x = "b"
z=z.lower
z=z.replace(x,"t")

AttributeError: 'builtin_function_or_method' object has no attribute 'replace'

In [71]:
x="B" or "b" 
z=z.replace(x,"T")
z

AttributeError: 'builtin_function_or_method' object has no attribute 'replace'

In [72]:
z.lower().replace("B".lower(),"T")

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

In [73]:
z.lower

AttributeError: 'builtin_function_or_method' object has no attribute 'lower'

In [52]:
z.lower()

'bombay to banglore'

#Assignment
1. remove all the spaces present in a string
2. replace character with some other value in a string irrespective of its case

In [ ]:
T = 'hyderabad    to   London'
T.replace(' ','')

In [ ]:
# B-->T
z.lower().replace("B".lower(),"T")
z.upper().replace("B".upper(),"T")

In [ ]:
## can i remove all white spaces . find out if a function like compress is there in python
## how to use lists , join and split to remove all spaces in a string in python

In [53]:
print(z)
z=z.strip()
z

Bombay to Banglore

'Bombay to Banglore'

In [65]:
print(z)
k=z.split(" ")
k

Bombay to Banglore

['Bombay to Banglore']

In [74]:
print(type(k))

NameError: name 'k' is not defined

In [75]:
p,q,s = ['aka','pka','zka']
p,q,s

('aka', 'pka', 'zka')

In [76]:
a,b,c=k

NameError: name 'k' is not defined

In [77]:
a,b,c

(5, 5, 5)

function split, splits a string at given separator . Result of this is a list [ which we will learn about in some time]

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [78]:
x='somethingtosay'

In [79]:
z

In [80]:
z[2]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [81]:
print(z)
z[2:10] # start:stop-1

<built-in method lower of str object at 0x00000183BA1B8E40>

TypeError: 'builtin_function_or_method' object is not subscriptable

In [82]:
print(z)
z[3:]

<built-in method lower of str object at 0x00000183BA1B8E40>

TypeError: 'builtin_function_or_method' object is not subscriptable

In [83]:
print(z)
z[:3]

<built-in method lower of str object at 0x00000183BA1B8E40>

TypeError: 'builtin_function_or_method' object is not subscriptable

In [84]:
print(z)
z[:-3]

<built-in method lower of str object at 0x00000183BA1B8E40>

TypeError: 'builtin_function_or_method' object is not subscriptable

In [85]:
print(z)
z[-3:]

<built-in method lower of str object at 0x00000183BA1B8E40>

TypeError: 'builtin_function_or_method' object is not subscriptable

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [86]:
print(z)
z[3:-3]

<built-in method lower of str object at 0x00000183BA1B8E40>

TypeError: 'builtin_function_or_method' object is not subscriptable

In [75]:
print(z)
z[-6:-2]

Bombay to Banglore

'nglo'

In [76]:
print(z)
z[-8:-2]

Bombay to Banglore

'Banglo'

In [77]:
z[::2] #z[start:stop:step]

'Bma oBnlr'

In [78]:
a = 'Hi How are you'
a[::-1]

'uoy era woH iH'

In [79]:
a = 'Hi How are you'.split()
a[::-1]

['you', 'are', 'How', 'Hi']

#1.Test
#Reverse the string
a = 'Hi How are you'
O/p:'you era woH iH'


#2. Test
#Re-arrange the order
a = 'Hi How are you'
O/p: ['you,'are','How','Hi']

In [ ]:
a = 'Hi How are you'
k = a.split(' ')
k[::-1]
#' '.join(i for i in k[::-1])

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [80]:
print(z)
z.count("B")

Bombay to Banglore

2

In [81]:
z.lower().count("b")

3

Did you notice that the count function is case sensitive. "b" is not considered. 

```
Ex : Is there an option within function count using which we can make the count case insensitive.

```

In [82]:
print(z)
z.find("a")

Bombay to Banglore

4

In [83]:
import re
for i in re.finditer("a",z):
    print(i.start())

4
11

In [ ]:
[m.start() for m in re.finditer("a", z)]

In [ ]:
for m in re.finditer("a",z):
    print(m.start(0))

```
Ex : find out how can we change search range for function find

```

### Writing Conditions



* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [84]:
x=34
y=32

x==y

False

In [85]:
x!=y

True

In [86]:
x>y

True

In [87]:
x<y

False

In [88]:
x>=y

True

In [89]:
x<=y

False

In [90]:
x="as"
y="assignment"

x in y

True

In [91]:
x not in y

False

In [92]:
x > y

False

In [94]:
x="L"
y="Kaajsa"
x>y

True

Python has 4 datastructures:\
1. List
2. Dictionary
3. Set
4. Tuple

### Lists

In [95]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

In [96]:
type(x)

list

In [97]:
x

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

In [98]:
print(x)
x[3:7]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [99]:
print(x)
x[3:]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99, 'a', 'b', 'c']

In [100]:
print(x)
x[:3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 2, 3]

In [101]:
print(x)
x[3:-3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [102]:
print(x)
x[1:-3:2] # third argument here is step

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[2, 70, 0]

In [103]:
print(x)
x[1::2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[2, 70, 0, 'a', 'c']

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [104]:
print(x)

x[2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

3

In [105]:
x[2]="!!!"
x

[1, 2, '!!!', 70, -10, 0, 99, 'a', 'b', 'c']

In case multiple assignment, value is then treated as a list with each char as individual element

In [106]:
print(x)
x[2:4]="bipin" #replace 2nd and 3rd index with bipin distributed
print(x)

[1, 2, '!!!', 70, -10, 0, 99, 'a', 'b', 'c']
[1, 2, 'b', 'i', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c']

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [107]:
x=[23,45,67,2,5]

x[2:4]

[67, 2]

In [108]:
print(x)
x[2:4]=["bipin"]
print(x)

[23, 45, 67, 2, 5]
[23, 45, 'bipin', 5]

In [109]:
print(x)
x.append("new")
print(x)

[23, 45, 'bipin', 5]
[23, 45, 'bipin', 5, 'new']

In [110]:
print(x)
x.append([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new']
[23, 45, 'bipin', 5, 'new', [1, 2, 3]]

In [111]:
x[5][1]

2

In [112]:
print(x)
x.extend([1,2,3])
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3]]
[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

In [113]:
a = [1, "b", "a", 4]
b = ["c"]
b.extend(a)

In [114]:
b

['c', 1, 'b', 'a', 4]

In [115]:
type(x)

list

In [116]:
print(x)
x.insert(2,"another")
print(x)

[23, 45, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]

In [117]:
L = [12, 20, 34, 40]
#L[2] = "another"
L.insert(2,"another")
L

[12, 20, 'another', 34, 40]

In [118]:
print(x)
x=x+[4,5,3]
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5, 3]

In [119]:
print(x)
x.pop()

print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5, 3]
[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]

In [120]:
print(x)
x.pop(1)
print(x)

[23, 45, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]
[23, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]

In [121]:
print(x)
x.remove("another")
print(x)

[23, 'another', 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]
[23, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]

In [122]:
x.remove("another")

ValueError: list.remove(x): x not in list

In [123]:
x

[23, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]

In [124]:
print(x)

[23, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]

In [125]:
print(x)
x.remove(3)
print(x)

[23, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 3, 4, 5]
[23, 'bipin', 5, 'new', [1, 2, 3], 1, 2, 4, 5]

In [126]:
print(x)
x.pop(2:5)
print(x)

SyntaxError: invalid syntax (<ipython-input-126-e2f53fda0817>, line 2)

In [127]:
stri = "abcaadk"
stri.replace("a","")

'bcdk'

```
Ex: what if there are multiple occurences of the value which you are trying to remove. Is there a way to remove multiple values at once or a value at a specific position?
```

In [1]:
x = [1,7,8,2,5,6]

In [2]:
x.sort() # sorts in place #for descending --> x.sort(reverse=True)
print(x)
# how to sort in descending manner

[1, 2, 5, 6, 7, 8]

In [3]:
x.reverse() # reverses in place
print(x)

[8, 7, 6, 5, 2, 1]

### For Loops

In [5]:
cities = ["delhi","Banglore","mumbai","pune"]

In [6]:
print(cities[0],"::",len(cities[0]))
print(cities[1],"::",len(cities[1]))
print(cities[2],"::",len(cities[2]))
print(cities[3],"::",len(cities[3]))

delhi :: 5
Banglore :: 8
mumbai :: 6
pune :: 4

In [7]:
len(cities)

4

In [8]:
for i in range(5): #starting from zero till 5 but not 5
    print(i)

0
1
2
3
4

In [9]:
for i in range(1,5): #starting from 1 till 5 but not 5
    print(i)

1
2
3
4

In [10]:
for i in range(1,5,2): #starting from 1 till 5 but not 5 with step size 2
    print(i)

1
3

In [11]:
for i in range(len(cities)):
    print(cities[i],len(cities[i]))

delhi 5
Banglore 8
mumbai 6
pune 4

In [12]:
for i in cities:
    print(i,len(i))

delhi 5
Banglore 8
mumbai 6
pune 4

In [13]:
for i in ['delhi','bangalore','mumbai','pune']:
    print(i)

delhi
bangalore
mumbai
pune

In [19]:
for i,j in enumerate(cities):
    print(i,j,len(j))

0 delhi 5
1 Banglore 8
2 mumbai 6
3 pune 4

In [16]:
for _,j in enumerate(cities):
    print(j, len(j))

delhi 5
Banglore 8
mumbai 6
pune 4

In [17]:
for i in enumerate(cities):
    print(i)

(0, 'delhi')
(1, 'Banglore')
(2, 'mumbai')
(3, 'pune')

for i in cities --> first priority is given

for i in range(len(cities)) --> 3rd or least priority to be used, 
when you dont have values, but length.

for i,j in enumerate(cities) --> used when index number is also needed

Couple of things to discuss here .

* iterator doesnt have to be named "i" , it can be anything.
* Value list doesnt have to be a list of coninuous number sequence, It can be a number list [numbers in any order], character list or something else too
* iterator value need not be used inside the loop

lets look at another way of writing that for loop that we just saw:

In [20]:
cities

['delhi', 'Banglore', 'mumbai', 'pune']

In [21]:
for city in cities:
    print("hello")

x=3
y=5
x+y

hello
hello
hello
hello

8

*Note: print used to work without parenthesis in previous versions of python. You might find many examples online like that.*

In [ ]:
#     for j in l2:
#         l3.append(i*j)

In [6]:
l1 = [10, 20, 30, 40]
l2 = [1, 2, 3, 4, 5]

l3 = []
for i in l1:
    l3.extend([i*j for j in l2])
#l3

In [7]:
[150,300,450,600]

[150, 300, 450, 600]

In [10]:
l4 = []
for i in l1:
    l3=[]
    for j in l2:
        l3.append(i*j)
    l4.append(sum(l3))
l4

[150, 300, 450, 600]

In [12]:
l3 = []
for i in l1:
    l3.append(sum([i*j for j in l2]))
l3

[150, 300, 450, 600]

### List Comprehensions with For Loops

In [87]:
x=range(8)

In [88]:
i/p: [0,1,2,3,4,5,6,7]

o/p: [0,1,0,1,0,1,0,1]

SyntaxError: illegal target for annotation (<ipython-input-88-91a7af3a4c05>, line 1)

In [89]:
l1 = []
for i in x:
    l1.append(i%2)
l1

[0, 1, 0, 1, 0, 1, 0, 1]

In [90]:
l1 = []
for i in [12,17,21,46,98]:
    if i%2==0:
        l1.append(i)
l1

[12, 46, 98]

In [91]:
[i for i in [12,17,21,46,98] if i%2==0]

[12, 46, 98]

In [92]:
l1 = []
for i in x:
    if i%2 !=0:
        l1.append(1)
    else:
        l1.append(0)
l1

[0, 1, 0, 1, 0, 1, 0, 1]

In [93]:
[1 if i%2==0 else 0 for i in x]

[1, 0, 1, 0, 1, 0, 1, 0]

Q1) Get all the even numbers from the list?
[12,17,21,46,98]\
Q2) Get output as 1 if element is odd and 0 otherwise

 From this we want to exract remainder for each value of x when that gets divided by 2.

operator `%` calculates remainder. a%2 will caclulate remiander when a is dvivided by 2.

In [94]:
print(100%32) #remainder
print(100//32) #quotient

4
3

In [95]:
[0,1,2,3,4,5,6,7]

[0,1,0,1,0,1,0,1]

[0, 1, 0, 1, 0, 1, 0, 1]

In [96]:
x=range(8)

x_mod_2=[]

for a in x:
    x_mod_2.append(a%2)

x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

In [97]:
[output forloop]

SyntaxError: invalid syntax (<ipython-input-97-13719aa7352e>, line 1)

In [ ]:
[y%2 for y in x]

In [ ]:
x_mod_2=[a%2 for a in x]
x_mod_2

In [ ]:
#1. I want only those values from list which are divisible by 2
[a for a in x if a%2==0]

In [ ]:
#2. I want the values as it is, which are divisible by 2 else -99
[a if a%2==0 else -99 for a in x]

In [ ]:
print(x)

In [ ]:
x=[(a-5)**2 for a in range(10)]
print(x)
print(x)
y = [i for i in x if i == 'b']
y

In [ ]:
import math

In [ ]:
#[output forloop condition]

In [ ]:
print(x)
x_ls2=[a+2 for a in x if a%2 !=0]

print(x_ls2)

In [17]:
import statistics as st
st.mean([2,4,6])

4

### Writing your own functions in python

In [20]:
x = [[2,4,6,15,20,20,40],[2,4],[4,4,4],[3,5,7]]

In [18]:
def average(i):
    return sum(i)/len(i)

In [19]:
average([2,4,6])

4.0

In [21]:
for i in x:
    print(average(i))

15.285714285714286
3.0
4.0
5.0

In [22]:
def const(x): 
    return x[7:]

In [24]:
const("Nation Anthem")

'Anthem'

In [13]:
# writing a function in python
import math
def my_func(x):
    if x%2!=0:
        return math.log(x)
    else:
        return x

In [15]:
my_func(5)

1.6094379124341003

In [16]:
x = "India"
if x == "india":
    print("Yes")
else:
    print("No")

No

In [20]:
x = "India"

if x == "India":
    if len(x)>10:
        print("yes")
    print("cool")

elif x == "pakndia":
    print("no")

else:
    print("bye")

print("hiiii")

cool
no
hiiii

In [ ]:
x

In [ ]:
x_ls3=[my_func(a) for a in x]
x_ls3

In [21]:
def mysum(x=10,y=10):
    return(2*x+3*y)

In [22]:
mysum(2,3)

13

In [23]:
mysum(2)

34

In [24]:
mysum()

50

In [25]:
mysum(,2)

SyntaxError: invalid syntax (<ipython-input-25-2f14b48dea73>, line 1)

In [26]:
mysum(y=4)

32

In [27]:
#print(mysum(y=-10))
mysum(y=100,x=1)

302

### Dictionaries

In [ ]:
word: meaning

In [28]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}
type(d)

dict

In [29]:
d["earth"]

1

In [30]:
d['earth']=10
d

{'actor': 'nasir', 'animal': 'dog', 'earth': 10, 'list': [1, 2, 3]}

In [31]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list'])

In [32]:
d.values()

dict_values(['nasir', 'dog', 10, [1, 2, 3]])

In [33]:
d["animal"]

'dog'

In [34]:
d['fish']

KeyError: 'fish'

In [35]:
# add new key value pair
d['module']="intro"
print(d)

{'actor': 'nasir', 'animal': 'dog', 'earth': 10, 'list': [1, 2, 3], 'module': 'intro'}

In [36]:
# removing a key value pair
del d['actor']
print(d)

{'animal': 'dog', 'earth': 10, 'list': [1, 2, 3], 'module': 'intro'}

In [37]:
# element access in loop
for elem in d:
    #print(elem, d[elem])
    
    print('key:%s ' %(elem) ,'value:%s' %(d[elem]))

key:animal  value:dog
key:earth  value:10
key:list  value:[1, 2, 3]
key:module  value:intro

In [ ]:
#Assignment
dic = {"abc":10,"bdf":30,"xyz":20,"ghi":10}
#i want to delete only those keys from dict whose value is 10
{"bdf":30,"xyz":20}

In [38]:
dict_val = {"name":"vishesh","age":28,"occupation":"pilot","birthyear":1955}
for i in dict_val:
    print(i,dict_val[i])

name vishesh
age 28
occupation pilot
birthyear 1955

In [39]:
#d.items()
for i,j in d.items():
    print(i,j)

animal dog
earth 10
list [1, 2, 3]
module intro

In [40]:
for a,b in d.items():
    print('value for key:%s is %s' %(a,b))

value for key:animal is dog
value for key:earth is 10
value for key:list is [1, 2, 3]
value for key:module is intro

### Sets

In [41]:
animals = {'cat', 'dog','cow','cat','cow'}
animals

{'cat', 'cow', 'dog'}

In [42]:
'cat' in animals

True

In [43]:
'fish' in animals

False

In [44]:
animals.add('fish')
print(animals)

{'fish', 'cow', 'cat', 'dog'}

In [45]:
animals.add('cat')   
print(animals)

{'fish', 'cow', 'cat', 'dog'}

In [46]:
animals.add('cow')
print(animals)

{'fish', 'cow', 'cat', 'dog'}

In [47]:
animals.remove('cat')
print(animals)

{'fish', 'cow', 'dog'}

In [48]:
animals = {'cat', 'dog', 'fish','there','there'}
count=0
for animal in animals:
    count = count + 1
    print(str(count)+ "-"+animal)
print(count)

1-fish
2-there
3-cat
4-dog
4

In [49]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [50]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [51]:
a.intersection(b)

{4, 5, 6}

In [52]:
a.issubset(b)

False

In [53]:
a.issubset(c) #c--> parent, a--> child

True

In [54]:
c.issuperset(b) #c--> parent, b --> child

True

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [55]:
print(a)
print(b)
a.difference(b)
# I want only those elements present in a but not in b

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3}

In [56]:
a^b

{1, 2, 3, 7, 8, 9}

In [57]:
b.difference(a)
# I want only those elements present in b but not in a

{7, 8, 9}

In [58]:
print(a)
print(b)
a.symmetric_difference(b)
#I want only elements from a and b, which are not common in both set

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

In [6]:
##assignment to get only unique elements from combined lists
a=[3,4,5]
b=[2,6,3,7]
c=[4,8]

set(a)|set(b)|set(c)

{2, 3, 4, 5, 6, 7, 8}

### Tuples

In [10]:
t = 12345, 54321, 'hello!'
print(t)
print(type(t))

(12345, 54321, 'hello!')
<class 'tuple'>

In [11]:
t =(12345, 54321, 'hello!') # same thing
t

(12345, 54321, 'hello!')

In [12]:
print(type( (12345, 54321, 'hello!') ))
print(type( [12345, 54321, 'hello!'] ))

<class 'tuple'>
<class 'list'>

In [13]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [14]:
t

(12345, 54321, 'hello!')

In [15]:
u[1]

(1, 2, 3, 4, 5)

In [16]:
t[0]=21 # you can not reassign

TypeError: 'tuple' object does not support item assignment

In [23]:
v = ([1, 2, 3], [3, 2, 1])
v

([1, 2, 3], [3, 2, 1])

In [24]:
type(v)

tuple

In [25]:
type(v[0])

list

In [28]:
v[0][1] = 100
v

([1, 100, 3], [3, 2, 1])

In [21]:
type(v[0])

list

In [22]:
v[0]=21

TypeError: 'tuple' object does not support item assignment

In [29]:
v
del v[0]
print(v)

TypeError: 'tuple' object doesn't support item deletion

In [30]:
type(v[0])

list

In [ ]:
v[0][0]=21
print(v)

In [31]:
v

([1, 100, 3], [3, 2, 1])

In [32]:
v[0] = 45
print(v)

TypeError: 'tuple' object does not support item assignment

A lambda function is a function.
A lambda function can take any number of arguments, but can only have one expression.

lambda arguments : expression

In [33]:
x = lambda y : y + 10

x(3)
#print(x(3))
#type(x)

13

In [ ]:
def x(y):
    return y + 10

x(3)

In [34]:
x = lambda i, j : i ** j
x(3, 2)

9

In [ ]:
def multi(n):
    return lambda a : a * n

In [ ]:
k = multi(5) # lambda a : a * 5
k(6) # lambda a : 6*5

In [43]:
test = lambda x : True if x>10 and x<40 else False
test(50)

False

In [44]:
def func(n):
    return n*n

In [45]:
# First way
input_list = [1,3,5,7,9,11]

final_list = []

for i in input_list:
    final_list.append(func(i))

final_list

[1, 9, 25, 49, 81, 121]

In [46]:
# Second way
num = (1, 2, 3, 4, 5)

[func(i) for i in num]

[1, 4, 9, 16, 25]

In [47]:
# third way

list(map(func,num)) # map(function, group of elements)

[1, 4, 9, 16, 25]

In [48]:
numbers = (1, 2, 3, 4, 5) 
result = map(lambda x: x * x, numbers) 
print(list(result))

[1, 4, 9, 16, 25]

In [49]:
num1 = [1, 2, 3] 
num2 = [4, 5, 6]

result = map(lambda x, y: x * y, num1, num2) 
print(list(result))

[4, 10, 18]

In [51]:
[i*j for i,j in zip(num1,num2)]

[4, 10, 18]

In [53]:
l3 = []
for i in range(len(num1)):
    for j in range(len(num2)):
        if i==j:
            l3.append(num1[i]*num2[j])
l3

[4, 10, 18]

In [54]:
list('score')

['s', 'c', 'o', 'r', 'e']

In [55]:
li = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'] 
  
# map() can listify the list of strings individually 

test = list(map(list, li)) 

print(test)

[['s', 'u', 'n'], ['m', 'o', 'n'], ['t', 'u', 'e'], ['w', 'e', 'd'], ['t', 'h', 'u'], ['f', 'r', 'i'], ['s', 'a', 't']]

In [56]:
test[3][2]

'd'

In [57]:
print(test[1])
print(test[1][2])

['m', 'o', 'n']
n

In [67]:
def chk(x,y):
    return x*y

chk(2,3)

6

In [59]:
list(map(chk,[1,2,3],[2,2,2]))

[2, 4, 6]

In [68]:
import functools

list(map(functools.partial(chk, x=2), [1,2,3]))

TypeError: chk() got multiple values for argument 'x'

In [66]:
def chk(x=2,y):
    return x*y

list(map(chk,[1,2,3]))

SyntaxError: non-default argument follows default argument (<ipython-input-66-2e6b95fb4214>, line 1)

In [ ]:
from functools import partial

def mult(a,b):
    return a**b

i = partial(mult, b=2)
j = partial(mult, b=4)
k = partial(mult,5)


# print(i(4))
# print(j(3))
print(k(4))